/out/
*.log
.idea/
*.out
.DS_Store
/optimus
dist
vendor
.env
.vscode
*.pem
TODO
version
temp
tmp
coverage.out
jobs
/resources/resource_fs.go
/auth.json
/development.env
/resources/resource_fs.go
__pycache__
.optimus.yaml
coverage.txt

/api/proto/odpf/**/*

!/api/proto/odpf/optimus/
!/api/proto/odpf/optimus/*
!/api/proto/odpf/optimus/**/*

api/third_party/openapi/odpf/**/*
api/third_party/openapi/odpf/optimus/plugins/*
api/third_party/openapi/odpf/optimus/cluster/*
api/third_party/openapi/odpf/optimus/core/*
!api/third_party/openapi/odpf/optimus/
!api/third_party/openapi/odpf/optimus/core/v1beta1/runtime.swagger.json
