/out/
*.log
.idea/
*.out
.DS_Store
/optimus
dist
vendor
.env
.vscode
*.pem
TODO
version
temp
test_coverage.html
/opctl
jobs
/resources/resource_fs.go
/auth.json
/development.env
/resources/resource_fs.go
__pycache__

optimus.yaml

# git ignore generate files related to gRPC and proto
/api/proto/protoc-gen-openapiv2/
/api/proto/v1/*.pb.go
/api/proto/v1/*.pb.gw.go
/api/proto/google/
