name: integration-test 

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  db:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_HOST: localhost
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: optimus_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:  
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.6'
      - name: Go module directory
        uses: actions/checkout@v2 
      - name: Test
        run: make integration-test
        env:
          TEST_OPTIMUS_DB_URL: "postgres://postgres:postgres@localhost:5432/optimus_db?sslmode=disable"